.header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: #f9fafb;
  color: #242424;
  box-shadow: 0 2px 4px rgba(25, 24, 24, 0.1);
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}

.logo a {
  text-decoration: none;
  color: #242424;
  font-size: 2rem;
  font-weight: 700;
}

.nav-menu {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  gap: 2rem;
}

.nav-menu a {
  color: #242424;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  font-weight: bold;
}

@media (max-width: 480px) {
  .header-content {
    padding: 20px 0px;
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    margin-top: 1rem;
  }
}
